<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    
  
    <title>Connexion</title>
</head>
<body>
    <h1>Connex.us</h1>
    {% if user %}
        You're signed in as {{ user }} | <a href="{{ login_url }}"> {{ login_text }}</a> 
        {% if isAdmin %} | <a href="/admin/dashboard">Admin Menu</a> {% endif %} <br> 
    {% endif %}
    <hr>
    <a href="manage">Manage</a> |
    <a href="create">Create</a> |
    <a href="view">View</a> |
    <a href="search">Search</a> |
    <a href="trending">Trending</a> |
    <a href="social">Social</a>
    <p>

    <p>
    Create New Stream:
    </p>
    <form action="create" method="post">
        Stream Name:<br>
        <input type="text" name="streamname"><br>
        Subscriber Emails (semicolon delimited):<br>
        <input type="text" name="subs"><br>
        Tags (semicolon delimited):<br>
        <input type="text" name="tags"><br>
        URL of cover image:<br>
        <input type="text" name="coverUrl"><br>
        <input type="submit" value="Create">
    </form>


</body>
</html>
