<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    
  
    <title>Connexion Management Page!</title>
</head>
<body>
    Connexion Management Page!<br>

    {% if user %}
        You're signed in as {{ user }} <br>
    <a href="{{ login_url }}"> {{ login_text }}</a> <br>
    {% endif %}

    <a href="create">Create Stream</a><br>

    <b>Streams I own:</b><br>
            {% for stream in streams %}
               {% if stream.coverImageURL %}
                <img src = "{{ stream.coverImageURL }}"  style="width:100px;height:100px;">
               {% endif %}
               Name: {{ stream.name }}  User: {{ stream.user }} Number of Views: {{ stream.numViews }}<br>
    
                <br>
            {% endfor %}
    
            
    <p>
        
    <b>Streams I subscribe to:</b><br>
            {% for stream in subscribe %}
                {% if stream.coverImageURL %}
                    <img src = "{{ stream.coverImageURL }}"  style="width:100px;height:100px;">
                {% endif %}
                Name: {{ stream.name }}  User: {{ stream.user }}  Number of Views: {{ stream.numViews }}<br>
                <br>
            {% endfor %}
    
        
    <p>


</body>
</html>
