<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
        table {font-family: arial, sans-serif;border-collapse: collapse; width: 70%;}
        td, th {border: 1px solid #dddddd;text-align: left; padding: 8px;}
        tr:nth-child(even) {background-color: #dddddd;}
    </style>
  
    <title>Connexion</title>
</head>
<body>
    <h1>Connex.us</h1>
    {% if user %}
        You're signed in as {{ user }} | <a href="{{ login_url }}"> {{ login_text }}</a> 
        {% if isAdmin %} | <a href="/admin/dashboard">Admin Menu</a> {% endif %} <br> 
    {% endif %}
    <hr>
    <a href="manage">Manage</a> |
    <a href="create">Create</a> |
    <a href="view">View</a> |
    <a href="search">Search</a> |
    <a href="trending">Trending</a> |
    <a href="social">Social</a>
    <p>
        
         <table>
             <tr><b>Owned Streams:</b></tr>
            <tr>
                <th>Name</th>
                <th>Latest Update</th>
                <th>Number of Pictures</th>
                <th>Delete</th>
            </tr>
            {% for stream in streams %}
            <tr>
                <td><a href='view?id={{ stream.key }}'> {{ stream.streamName }} </a></td>
                <td>{{ stream.newestDate }}</td>
                <td>{{ stream.counter }}</td>
                <td>[CHECKBOX]</td>
            </tr>
            {% endfor %}
        </table>
    TODO:  Button here to delete the checked streams.<br>

    <p>
        
         <table>
             <tr><b>Subscribed Streams:</b></tr>
            <tr>
                <th>Name</th>
                <th>Latest Update</th>
                <th>Number of Pictures</th>
                <th>Views</th>
                <th>Unsubscribe</th>
            </tr>
            {% for stream in subscribe %}
            <tr>
                <td><a href='view?id={{ stream.key }}'> {{ stream.streamName }}</a></td>
                <td>{{ stream.newestDate }}</td>
                <td>{{ stream.counter }}</td>
                <td>{{ stream.views }}</td>
                <td>[CHECKBOX]</td>
            </tr>
            {% endfor %}
        </table>
    TODO: Button here to unsubscribe from the checked streams.<br>

</body>
</html>
