<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {font-family: arial, sans-serif;border-collapse: collapse; width: 70%;}
        td, th {border: 1px solid #dddddd;text-align: left; padding: 8px;}
        tr:nth-child(even) {background-color: #dddddd;}
    </style>    
  
    <title>Connexion</title>
</head>
<body>
    <h1>Connex.us</h1>
    {% if user %}
        You're signed in as {{ user }} | <a href="{{ login_url }}"> {{ login_text }}</a> 
        {% if isAdmin %} | <a href="/admin/dashboard">Admin Menu</a> {% endif %} <br> 
    {% endif %}
    <hr>
    <a href="manage">Manage</a> |
    <a href="create">Create</a> |
    <a href="view">View</a> |
    <a href="search">Search</a> |
    <a href="trending">Trending</a> |
    <a href="social">Social</a>
    <p>
       {% if not thisStream %}
                <table>
            <tr>
                <th>Name</th>
                <th>Latest Update</th>
                <th>Number of Pictures</th>
                <th>Number of Views</th>
            </tr>
            {% for stream in streams %}
            <tr>
                <td><a href='view?id={{ stream.key }}'> {{ stream.streamName }} </a></td>
                <td>{{ stream.newestDate }}</td>
                <td>{{ stream.counter }}</td>
                <td>{{ stream.views }}</td>
            </tr>
            {% endfor %}
        </table>
       {% endif %}
    {% if thisStream %}
        Do something here for each image in thisStream.<br>
    
    
    {% endif %}



</body>
</html>
