{% extends "templates/admin/AdminTemplate.html" %}

{% block title %}Connexion All Users{% endblock %}

{% block section_title %}All Users{% endblock %}

{% block listusers_active%}active{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>userID</th>
          <th>first name</th>
          <th>last name</th>
          <th>email</th>
          <th>nickname</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.key.id() }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nickName }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}