{% extends html_template %}

{% block title %}Connexion: New Stream{% endblock %}

{% block content %}
    <p>
    Create New Stream:
    </p>
    <form action="/services/createstream" method="post">
        Stream Name:<br>
        <input type="text" name="streamname"><br>
        Subscriber Emails (semicolon delimited):<br>
        <input type="text" name="subs"><br>
        Tags (semicolon delimited):<br>
        <input type="text" name="tags"><br>
        URL of cover image:<br>
        <input type="text" name="coverUrl"><br>
        <input type="submit" value="Create">
    </form>
{% endblock %}