{% extends html_template %}

{% block title %}Connexion: New Stream{% endblock %}

{% block content %}
    <p>
    Create New Stream:
    </p>
    <form action="/create" method="post">
        Stream Name:<br>
        <input name="{{ stream_name_parm }}"><br>
        Subscriber Emails (semicolon delimited):<br>
        <textarea name="{{ subs_parm }}" >{{ email }};</textarea><br>
        Tags (semicolon delimited):<br>
        <textarea name="{{ tags_parm }}"></textarea><br>
        URL of cover image:<br>
        <input name="{{ cover_url_parm }}"><br>
        <input type="submit" value="Create">
    </form>
{% endblock %}