{% extends html_template %}

{% block title %}Connexion: GeoMap{% endblock %}
{% block extrahead %}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}


{% block content %}

    <script>
      function initMap() {
        var ut = {lat: 30.2893746, lng: -97.7349663};
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: ut
        });

         var markers = new Array();
          {% for loc in streamItemsLoc %}
            var lat1 = {{ loc.lat }};
            var lng1 = {{ loc.lng }};
            var marker = new google.maps.Marker({position: {lat: lat1, lng: lng1}, map: map});
            markers.push(marker);
          {% endfor %}

        var markerCluster = new MarkerClusterer(map, markers);
        

         
         
         
      }

    </script>
     <script src="./js/markerclusterer.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCStEwgkRB940lMpKTV6OzmMVkUmTb2g4U&callback=initMap" async defer></script>


<div id="map"></div>
<br>...<br>
{{ streamItems }}
<br>...<br>
{{ streamItemsLoc }}
<br>...<br>
{{ testing2.lat }}
<br>...<br>

    <footer>Copyright &copy; Footnote Here</footer>
{% endblock %}