<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/baseStyle.css">


    <title>Connexion</title>
</head>
<body>
    <div class="container">

        <header>
           <h1>Connex.us</h1>
        </header>

        {% if user %}
            You're signed in as {{ user }} | <a href="{{ login_url }}"> {{ login_text }}</a>
            {% if isAdmin %} | <a href="/admin/dashboard">Admin Menu</a> {% endif %} <br>
        {% endif %}

        <hr>

        <div class="topnav">
            <a href="manage">Manage</a>
            <a href="create">Create</a>
            <a href="view">View All</a>
            <a href="search">Search</a>
            <a href="trending">Trending</a>
            <a href="social">Social</a>
        </div>

    <p>

        <a href= "{{ login_url }}" >  {{ login_text }}</a><br>
        <br><br>
    {% if user %}
        <a href= "/manage">Manage Your Streams</a><br>
    {% endif %}

</body>
</html>



