{% extends html_template %}

{% block title %}Connexion: Manage Streams{% endblock %}

{% block extrahead %}
<script src="/js/ManagePage.js"></script>
<meta name="userID" content="{{ user_id }}">
{% endblock %}

{% block content %}
<br>
        {% if msg %}
            <div style="margin: 10px" class="alert alert-success" id="message">
                {{ msg }}
            </div>
        <br>
        {% endif %}
<br>
         <form action="/delete" method="post" id="deleteform">
             <table id="ownedtable">
                 <tr><b>Owned Streams:</b></tr>
                <tr>
                    <th>Name</th>
                    <th>Latest Update</th>
                    <th>Number of Pictures</th>
                    <th class="delete-col">Delete<div class="check_all checkbox" data-type="delete"></div></th>
                </tr>
            </table>
            <br>
            <button id="delete_button" class="btn btn-warning mybtn delete" disabled>Delete Selected Streams</button>
         </form>
        <br>
    <div id="test"></div>
    <p>

    <form action="/unsubscribe" method="post" id="unsubscribeform">
         <table id = "subscribedtable">
             <tr><b>Subscribed Streams:</b></tr>
            <tr>
                <th>Name</th>
                <th>Latest Update</th>
                <th>Number of Pictures</th>
                <th>Views</th>
                <th class="delete-col">Unsubscribe<div class="check_all checkbox" data-type="unsubscribe"></div></th>
            </tr>
        </table>
        <br>
        <button id="unsubscribe_button" class="btn btn-warning mybtn unsubscribe" disabled>Unsubscribe From Selected Streams</button>
    </form>
{% endblock %}