{% extends html_template %}

{% block title %}Connexion: Search{% endblock %}

{% block content %}
<br><br>

    <form action="{{ search_url }}" method="POST" enctype="multipart/form-data">
        <br>
      Search Text: <input name="searchString" value="{% if search_string %}{{ search_string }}{% endif %}">
      <input type="submit" value="Submit">
    </form>

    {% if search_streams %}
        <br>
        <h3>Matching Streams</h3>
        {% for stream in search_streams %}
            <a href="/viewstream?streamID={{ stream.get_id }}"><img src="{{ stream.coverImageURL }}" height="100" ><br>{{ stream.name }}</a><br><br>
        {% endfor %}
    {% endif %}

    {% if search_tags %}
        <br>
        <h3>Matching Tags</h3>
        {% for tag in search_tags %}
            <a href="{{ tag.url }}">{{ tag.name }}</a><br>
        {% endfor %}
    {% endif %}

<br>
{% endblock %}