{% extends html_template %}

{% block title %}Connexion: Search{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="css/jqueryui/jquery-ui.css">
<script src="js/jqueryui/jquery-ui.js"></script>
<script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#search_tags" ).autocomplete({
      source: "services/autocomplete"
    });
  } );
  </script>

{% endblock %}

{% block content %}
<br><br>

    <form action="{{ search_url }}" method="POST" enctype="multipart/form-data">
        <br>
      Search Text: <input name="searchString" id="search_tags" value="{% if search_string %}{{ search_string }}{% endif %}" autofocus>
      <input type="submit" value="Submit">
    </form>

    {% if search_streams %}
        <br>
        <h3>Matching Streams</h3>
            <div style="overflow-y: scroll; height: 400px">
            <table style="width:90%">
                 <tr>
                     <th>Stream Name</th>
                 </tr>
                    {% for stream in search_streams %}
                 <tr>
                    <td><a href="/viewstream?streamID={{ stream.get_id }}"><img src="{{ stream.coverImageURL }}" style="width:30%;"> {{ stream.name }}</a></td>
                </tr>
                {% endfor %}
            </table>
            </div>
    {% endif %}

    {% if search_tags %}
        <br>
        <h3>Matching Tags</h3>
        <div class="scrollmenu">
            {% for tag in search_tags %}
                <a href="{{ tag.url }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    {% endif %}

<br>
{% endblock %}