<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stream Search</title>
</head>
<body>

    <h1>Connex.us</h1>
    {% if user %}
        You're signed in as {{ user }} | <a href="{{ login_url }}"> {{ login_text }}</a>
        {% if isAdmin %} | <a href="/admin/dashboard">Admin Menu</a> {% endif %} <br>
    {% endif %}
    <hr>
    <a href="manage">Manage</a> |
    <a href="create">Create</a> |
    <a href="view">View</a> |
    <a href="search">Search</a> |
    <a href="trending">Trending</a> |
    <a href="social">Social</a>

<br><br>

    <form action="{{ search_url }}" method="POST" enctype="multipart/form-data">
        <br>
      Search Text: <input name="searchString" value="{% if search_string %}{{ search_string }}{% endif %}">
      <input type="submit" value="Submit">
    </form>

    <br><br>

    {% if search_tags %}
        {% for tag in search_tags %}
            <p>{{ tag }}</p><br>
        {% endfor %}
    {% endif %}
<br>

</body>
</html>