{% extends html_template %}

{% block title %}Connexion: View All Streams{% endblock %}

{% block content %}
        <table>
            <tr><b>View All Streams:</b></tr>

            <tr>
                <th>Name</th>
                <th>Latest Update</th>
                <th>Number of Pictures</th>
            </tr>

            <tr>
                <td>testing_static_table1</td>
                <td>test1</td>
                <td>number1</td>
            </tr>
        </table>

        <footer>Copyright &copy; Footnote Here</footer>

    </div>
{% endblock %}