{% extends html_template %}

{% block title %}Connexion: {{ stream.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="css/bootstrap/album.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap/carousel.css">

<style>
    .jumbotron-billboard .img {
        margin-bottom: 0px;
        opacity: 0.75;
        color: #eee;
        background: #000 url("{{ stream.coverImageURL }}") center center;
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;

      position:absolute;
      top:0;left:0;
      z-index:1;
    }
    .jumbotron {position:relative;padding:50px;}
    .jumbotron .container {z-index:2;
     position:relative;
      z-index:2;
    }
</style>

{% endblock %}

{% block content %}
<br>
    <div class="jumbotron jumbotron-billboard">
      <div class="img"></div>
        <div class="container">
            <div class="row">
                <div style="background-color: black; display: inline-block; padding: 10px; color: #cccccc; opacity: 0.6; border-radius: 10px; border: 1px solid white">
                    <h1>{{ stream.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="border: 3px solid gray">

      <ol class="carousel-indicators">
        {% for url in image_urls %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <div class="carousel-inner">
        {% for url in image_urls %}
          <div class="carousel-item{% if forloop.counter0 == 0 %} active{% endif %}">
            <img class="subsequent-slide" src="{{ url }}" style="max-width: 100%; max-height: 100%; object-fit: contain">
          </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" style="background-color: black; width: 30px">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" style="background-color: black; width: 30px">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
      Upload File: <br><input type="file" name="file"><br>
      <input type="hidden" name="streamID" value="{{ stream.key.id }}"><br>
      <input type="hidden" name="redirect" value="/viewstream?streamID={{ stream_id }}">
      <input type="submit" name="submit" value="Submit">
    </form>

{% endblock %}