{% extends html_template %}

{% block title %}Connexion: {{ stream.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="css/bootstrap/album.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap/carousel.css">

<style>
    .jumbotron-billboard .img {
        margin-bottom: 0px;
        opacity: 0.75;
        color: #eee;
        background: #000 url("{{ stream.coverImageURL }}") center center;
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;

      position:absolute;
      top:0;left:0;
      z-index:1;
    }
    .jumbotron {position:relative;padding:50px;}
    .jumbotron .container {z-index:2;
     position:relative;
      z-index:2;
    }

.nav-arrow {
    height: 25px;
    width: 25px;
}

.rotate-180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.arrow-div {
    display: inline-block;
    padding: 10px;
    width: 23%;
    text-align: center;
}

.enabled-arrow:hover {
    background-color: #ddd;
    cursor: pointer
}

.disabled-arrow {
    opacity: 0.25;
}

</style>
{% endblock %}

{% block content %}
<br>
    <div class="jumbotron jumbotron-billboard">
      <div class="img"></div>
        <div class="container">
            <div class="row">
                <div style="background-color: black; display: inline-block; padding: 10px; color: #cccccc; opacity: 0.6; border-radius: 10px; border: 1px solid white">
                    <h1>{{ stream.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    <br>




    <div style="text-align: center">
        <a {% if prev_page_url %}href="{{ prev_page_url }}"{% endif %}><div class="arrow-div {% if prev_page_url %}enabled-arrow{% else %}disabled-arrow{% endif %}"><img src="/images/arrow.svg" style="margin-right: -13px" class="nav-arrow rotate-180"><img src="/images/arrow.svg" class="nav-arrow rotate-180"></div></a>
        <a href="#myCarousel" data-slide="prev" class="a-nounder"><div class="arrow-div enabled-arrow"><img src="/images/arrow.svg" class="nav-arrow rotate-180"></div></a>
        <a href="#myCarousel" data-slide="next"><div class="arrow-div enabled-arrow"><img src="/images/arrow.svg" class="nav-arrow "></div></a>
        <a {% if next_page_url %}href="{{ next_page_url }}"{% endif %}><div class="arrow-div {% if next_page_url %}enabled-arrow{% else %}disabled-arrow{% endif %}"><img src="/images/arrow.svg" class="nav-arrow"><img src="/images/arrow.svg" style="margin-left: -13px" class="nav-arrow"></div></a>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="border: 3px solid gray">


      <ol class="carousel-indicators">
        {% for url in image_urls %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <div class="carousel-inner">
        {% for url in image_urls %}
          <div class="carousel-item{% if forloop.counter0 == 0 %} active{% endif %}">
            <img class="subsequent-slide" src="{{ url }}" style="max-width: 100%; max-height: 100%; object-fit: contain">
          </div>
        {% endfor %}
      </div>
    </div>

<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
      Upload File: <br><input type="file" name="file"><br>
      <input type="hidden" name="streamID" value="{{ stream.key.id }}"><br>
      <input type="hidden" name="redirect" value="/viewstream?streamID={{ stream_id }}">
      <input type="submit" name="submit" value="Submit">
    </form>

{% endblock %}